јнализ требований
=====================

—истема управлени€ блогом, которую мы разрабатываем - это однопользовательска€
система. ¬ладельцу системы будут доступны следующие действи€:

 * ¬ход и ¬ыход
 * —оздание, обновление и удаление постов
 * ѕубликаци€, депубликаци€ и архиваци€ постов
 * ”тверждение и удаление комментариев

¬сем остальным пользовател€м и гост€м будут доступны действи€:

 * „тение постов
 * —оздание комментариев

ƒополнительные требовани€ дл€ системы:

 * —траница `√лавна€` системы должна показывать список недавних постов.
 * ≈сли страница содержит более 10 постов, она должна разбиватьс€ на несколько
страниц.
 * —истема должна иметь возможность показа поста вместе с комментари€ми к нему.
 * —истема должна иметь возможность показа списка постов по определенному тегу.
 * —истема должна иметь возможность показа облака тегов, показывающее частоту их использовани€.
 * —истема должна иметь возможность показа списка недавних комментариев.
 * —истема должна иметь возможность смены темы оформлени€.
 * —истема должна использовать URL-адреса, оптимизированные дл€ поисковых роботов.

<div class="revision">$Id: start.requirements.txt 681 2009-02-16 04:57:01Z qiang.xue $</div>